* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #fff;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

header {
  padding-top: 50px;
  background-color: #f5e4e0;
  height: 100vh;
}

section {
  padding: 50px;
}

h1,
.main-nav a {
  color: #1e028a;
}

.main-nav {
  max-width: 1270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 80%;
}

.middle-nav {
  margin-left: 20px;
}

.middle-nav a {
  text-decoration: none;
  margin-left: 30px;
}

.last-nav a {
  text-decoration: none;
  margin-right: 40px;
}

#btn-blue {
  color: #fff;
  background-color: #1e028a;
  padding: 10px 20px;
  border-radius: 5px;
}

#btn-blue:hover {
  color: #fff;
  background-color: #180172;
}

.hero-text-box {
  margin-top: 100px;
  width: 1270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1e028a;
  display: flex;
  flex-wrap: wrap;
}

.left-div {
  width: 50%;
  display: block;
}

.right-div {
  width: 50%;
  display: inline-block;
}

.right-div img {
  width: 90%;
}

.hero-text-box .main-text {
  font-size: 300%;
  font-weight: 600;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.hero-text-box p {
  font-size: 90%;
  line-height: 30px;
}

.hero-text-box .down-text {
  margin-bottom: 60px;
}

.hero-text-box a {
  text-decoration: none;
}

.provide {
  background-color: rgb(247, 237, 238);
  padding-bottom: 30px;
}

.heading-provide {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  color: #1e028a;
}

.heading-provide h2 {
  padding-bottom: 40px;
  font-size: 200%;
}

.heading-provide p {
  font-size: 80%;
  padding-bottom: 50px;
}

.choice-provide {
  display: flex;
  justify-content: center;
}

.choice {
  text-align: center;
  margin: 40px;
  background-color: #fff;
  border-radius: 20px;
  padding: 70px;
}

.choice-img {
  width: 150px;
  transition: transform 0.5s;
}

.choice:hover .choice-img {
  transform: translateY(-40px);
}

.about-section {
  color: #1e028a;
}

.about-left,
.about-right {
  display: inline-block;
}

.about-left {
  text-align: center;
}

.about-right h2 {
  font-size: 200%;
  padding-bottom: 40px;
}

.about-right p {
  width: 75%;
  line-height: 35px;
  font-size: 90%;
  font-weight: 400;
  padding-bottom: 50px;
}
.about-right a {
  padding: 10px 20px;
  background-color: #1e028a;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 80%;
}

.about-right {
  transform: translateY(-90px);
}

.course-section {
  color: #1e028a;
}

.course-content {
  margin-left: 70px;
}

.course-content h3 {
  font-size: 200%;
  margin-bottom: 40px;
}

.course-content p {
  font-size: 90%;
}

.view-more {
  float: right;
  margin-right: 70px;
  font-size: 85%;
  transform: translateY(-20px);
}

.course-outline {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.outline {
  width: 30%;
}

.img-outline {
  text-align: center;
}

.outline img {
  width: 300px;
}

.about-outline {
  width: 250px;
  background-color: #f5e4e0;
  padding: 20px;
  border-radius: 5px;
  transform: translate(120px, -70px);
}

.about-outline h4 {
  font-size: 150%;
  margin-bottom: 15px;
}

.about-outline h5 {
  font-size: 90%;
  margin-bottom: 10px;
}

.about-outline p {
  font-size: 70%;
  margin-bottom: 15px;
}

.address {
  width: 100%;
  font-size: 60%;
}

.class {
  float: right;
  margin-right: 60px;
  transform: translateY(-15px);
}

.subscribe-section {
  color: #1e028a;
  text-align: center;
  background-color: #f5e4e0;
  padding-top: 70px;
}

.subscribe-content h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 200%;
}

.subscribe-content p {
  font-size: 80%;
  margin-bottom: 80px;
}

.subscribe-input {
  margin-bottom: 20px;
}

.subscribe-input input {
  width: 500px;
  height: 60px;
  outline: white;
  font-size: 90%;
  padding-left: 20px;
  border-radius: 5px;
}

.subscribe-input .subscribe-btn {
  display: inline-block;
  background-color: #1e028a;
  padding: 20px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

.contact {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.contact-outline {
  display: inline-block;
  color: #1e028a;
}

.contact-outline h4 {
  font-size: 120%;
  margin-bottom: 30px;
}

.besnik p {
  line-height: 30px;
  font-size: 90%;
  margin-top: 60px;
}

.contact ul {
  margin-top: 30px;
  font-size: 90%;
}

.contact li {
  list-style: none;
  margin-bottom: 20px;
}

.social-btn {
  font-size: 150%;
  margin-right: 10px;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #f5e4e0;
  padding: 30px 0;
}

footer span {
  color: #1e028a;
  font-weight: 700;
}
